Required libraries for web scraping assignment.

In [1]:
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
import pandas as pd

Install Driver

In [2]:
driver=webdriver.Firefox('E:\geckodriver-v0.29.1-win64')

1st question

Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

Specify Serach Url

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
#when we see the wiki website for the provided url the required data to scrap is in table format. 
#So we will first scrap the whole required table with Beautiful soup. 
#From the scrapped data we will make the required changes for exact data.

In [5]:
soup = BeautifulSoup(driver.page_source, 'html')
tables = soup.find_all('table')

In [6]:
#Now we will load the data with pandas.read_htnl(because it is in html format).

In [7]:
df = pd.read_html(str(tables))

In [8]:
len(df)

12

In [9]:
#with the len(df) we can see that nearly 12 tables are scrapped from the provided wiki page. 
#with the help of index we can find the exact table we required.

In [10]:
df=df[2]

In [11]:
df.head()

,No.,Video name,Uploader,Views (billions),Upload date,Note,Unnamed: 6
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.78,"June 17, 2016",[B],NaN
1,2.,"""Despacito""[24]",Luis Fonsi,7.40,"January 12, 2017",[C],NaN
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.46,"October 8, 2016",[D],NaN
3,4.,"""Shape of You""[26]",Ed Sheeran,5.35,"January 30, 2017",[E],NaN
4,5.,"""See You Again""[27]",Wiz Khalifa,5.14,"April 6, 2015",[F],NaN

In [13]:
df.shape

(31, 7)

In [12]:
#we got the required table from the second table.

In [14]:
#if you see the wiki website the table contains information of 30 rows.
#But with the df.shape we can see that 31 rows are included. So we will do slicing to get 30 songs list.

In [15]:
df=df[0:30]

In [16]:
df.columns

Index(['No.', 'Video name', 'Uploader', 'Views (billions)', 'Upload date',
       'Note', 'Unnamed: 6'],
      dtype='object')

In [17]:
#As per the given question we don't need 'Note','Unnamed: 6 columns. So we will drop them.

In [18]:
df.drop(columns =['Note','Unnamed: 6'] , inplace = True)

In [19]:
#We will replace the columns names 'No' with 'Rank' and 'Uploader'as artist.
#I did this because the artist name is in uploader columns and the songs listed in correct order. So I use S.no as rank.

In [20]:
df.rename(columns = {'No.':'Rank'}, inplace = True)
df.rename(columns = {'Uploader':'Artist'}, inplace = True)

In [21]:
#In the VideoName column there is extra characters which we don't need with the help of regex we will remove them

In [22]:
df['Video name']=df['Video name'].replace('\"','',regex=True).astype(object)
df['Video name']=df['Video name'].replace('\[\d{2}\]','',regex=True).astype(object)

In [23]:
#Now we will get required data.

In [24]:
df

,Rank,Video name,Artist,Views (billions),Upload date
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,8.78,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,7.40,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids,5.46,"October 8, 2016"
3,4.,Shape of You,Ed Sheeran,5.35,"January 30, 2017"
4,5.,See You Again,Wiz Khalifa,5.14,"April 6, 2015"
5,6.,Masha and the Bear – Recipe for Disaster,Get Movies,4.44,"January 31, 2012"
6,7.,Uptown Funk,Mark Ronson,4.20,"November 19, 2014"
7,8.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.15,"February 27, 2018"
8,9.,Bath Song,Cocomelon – Nursery Rhymes,4.14,"May 2, 2018"
9,10.,Gangnam Style,Psy,4.09,"July 15, 2012"
10,11.,Phonics Song with Two Words,ChuChu TV,3.92,"March 6, 2014"
11,12.,Sugar,Maroon 5,3.48,"January 14, 2015"
12,13.,Sorry,Justin Bieber,3.44,"October 22, 2015"
13,14.,Dame Tu Cosita,El Chombo,3.39,"April 5, 2018"
14,15.,Roar,Katy Perry,3.37,"September 5, 2013"
15,16.,Counting Stars,OneRepublic,3.32,"May 31, 2013"
16,17.,Thinking Out Loud,Ed Sheeran,3.27,"October 7, 2014"
17,18.,Dark Horse,Katy Perry,3.09,"February 20, 2014"
18,19.,Faded,Alan Walker,3.08,"December 3, 2015"
19,20.,Wheels on the Bus,Cocomelon – Nursery Rhymes,3.08,"May 24, 2018"
20,21.,Shake It Off,Taylor Swift,3.07,"August 18, 2014"
21,22.,Lean On,Major Lazer,3.05,"March 22, 2015"
22,23.,Girls Like You,Maroon 5,3.05,"May 31, 2018"
23,24.,Bailando,Enrique Iglesias,3.04,"April 11, 2014"
24,25.,Let Her Go,Passenger,3.01,"July 25, 2012"
25,26.,Mi Gente,J Balvin,2.93,"June 29, 2017"
26,27.,Perfect,Ed Sheeran,2.87,"November 9, 2017"
27,28.,Waka Waka (This Time for Africa),Shakira,2.85,"June 4, 2010"
28,29.,Hello,Adele,2.84,"October 22, 2015"
29,30.,Axel F,Crazy Frog,2.83,"June 16, 2009"

2nd Question

Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [26]:
#specify serach URL

In [27]:
driver.get('https://www.bcci.tv/')

In [28]:
#Now from the International Option we will select Fixtures with click() option.

In [29]:
#first we will select international option.From that we will see drop down to select Fixtures.

In [31]:
Inte=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")

In [32]:
Inte.click()

In [33]:
#Now we will select fixtures.

In [34]:
fix=driver.find_element_by_xpath("//div[@class='drop-down__options']/ul/li[1]/a[1]")
fix.click()

In [35]:
#Now we will Scrap the required data.

Match title (I.e. 1st ODI)

In [36]:
mat=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
Match_title=[]
for i in mat:
    Match_title.append(i.text)

Series

In [37]:
ser=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")
Series=[]
for i in ser:
    Series.append(i.text)

Place

In [38]:
ple=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
Places=[]
for i in ple:
    Places.append(i.text)

Time

In [39]:
tim=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
Time=[]
for i in tim:
    Time.append(i.text)

Date

In [40]:
dat=driver.find_elements_by_xpath("//span[@class='fixture__date']")
Date=[]
for i in dat:
    Date.append(i.text)

In [41]:
#If we check the website the date and month have different xpaths. So First we scrapped Date and  now we will scrap month.

In [42]:
mon=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]")
Month=[]
for i in mon:
    Month.append(i.text)

In [43]:
#Creating data frame for the scrapped data.

In [46]:
bcci=pd.DataFrame({})
bcci['Match_Title']=Match_title
bcci['Series']=Series
bcci['Places']=Places
bcci['Date']=Date
bcci['Month']=Month
bcci

,Match_Title,Series,Places,Date,Month
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18,JUNE
1,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",13,JULY
2,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",16,JULY
3,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",18,JULY
4,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",21,JULY
5,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",23,JULY
6,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",25,JULY
7,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST
8,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST
9,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST
10,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER
11,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER

3rd Question

Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [47]:
#Specify Search URl

In [48]:
driver.get("https://www.guru99.com/")

In [49]:
#From the home page we have to reach to 'selenium exception handling page' for that we will use the below code.

In [50]:
#On the home page there are various programmes listed we will select Selenium option.

In [51]:
sec=driver.find_element_by_xpath("//div[@class='srch']/span[8]/a")
sec.click()

In [52]:
#Now in this page there is Syllabus of Selenium in this we will select 'exception handling page'

In [54]:
se=driver.find_element_by_xpath("//table[@class='table'][5]/tbody/tr[34]/td[1]")
se.click()

In [55]:
#Now we got the exact page where we can scrap the required data.

Name

In [56]:
exc=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
Name=[]
for i in exc:
    Name.append(i.text)

Description

In [57]:
des=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
Description=[]
for i in des:
    Description.append(i.text)

In [58]:
#Now we will create DataFrame for the scrapped data.

In [66]:
Selenium_exception=pd.DataFrame({})
Selenium_exception["Name"]=Name
Selenium_exception["Description"]=Description

In [67]:
Selenium_exception.head()

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...

In [68]:
#when we scrapped data we got the heading of table also because even heading has same xpaths. So we will remove them.

In [69]:
Selenium_exception.shape

(42, 2)

In [70]:
Selenium_exception=Selenium_exception[1:42]

In [71]:
Selenium_exception

,Name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4th Question

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [72]:
#Specify search url

In [73]:
driver.get("http://statisticstimes.com/")

In [74]:
#From the home page we have to select Economy and Inida option.

In [75]:
#we can see that Economy option is not clickable, we have to do mouseover action .

ActionChains

In [77]:
#We can perform mouseover action in Selenium webdriver in Python by using the ActionChains class. 
#We have to create an object of this class and then apply suitable methods on it.

In [78]:
#In order to move the mouse to an element, we shall use the move_to_element method and pass the element locator as a parameter. 
#Then apply the perform method to actually perform this action. After hovering on the element, we can apply click action on it with the help of the click method.

In [80]:
#ActionChains Required Library
from selenium.webdriver.common.action_chains import ActionChains

In [81]:
#object of ActionChains
a = ActionChains(driver)
#identify element
m = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button")
#hover over element
a.move_to_element(m).perform()
#identify sub menu element
n = driver.find_element_by_link_text("India")
# hover over element and click
a.move_to_element(n).click().perform()

In [83]:
#We need state wise GDP. So we will select "GDP of Indian States. With click() option."

In [84]:
driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a").click()

In [85]:
#Now we will scrap the required data.

Rank

In [86]:
ra=driver.find_elements_by_xpath("//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[1]")
Rank=[]
for i in ra:
    Rank.append(i.text)

State

In [87]:
sa=driver.find_elements_by_xpath("//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[2]")
State=[]
for i in sa:
    State.append(i.text)

GSDP(17-18)

In [89]:
gsd=driver.find_elements_by_xpath("//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[4]")
GSDP_17_18=[]
for i in gsd:
    GSDP_17_18.append(i.text)

GSDP(18-19)

In [90]:
gs=driver.find_elements_by_xpath("//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[3]")
GSDP_18_19=[]
for i in gs:
    GSDP_18_19.append(i.text)

Share(2017)

In [91]:
sha=driver.find_elements_by_xpath("//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[5]")
Share=[]
for i in sha:
    Share.append(i.text)

GDP($ billion)

In [92]:
bil=driver.find_elements_by_xpath("//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[6]")
GDP_billions=[]
for i in bil:
    GDP_billions.append(i.text)

In [93]:
#Creating the data frame for the scrapped data.

In [94]:
Economy=pd.DataFrame({})
Economy['Rank']=Rank
Economy['State']=State
Economy['GSDP_17_18']=GSDP_17_18
Economy['GSDP_18_19']=GSDP_18_19
Economy['Share']=Share
Economy['GDP_billions']=GDP_billions
Economy

   Rank                      State GSDP_17_18 GSDP_18_19   Share GDP_billions
0     1                Maharashtra  2,632,792          -  13.94%      399.921
1     2                 Tamil Nadu  1,630,208  1,845,853   8.63%      247.629
2     3              Uttar Pradesh  1,584,764  1,687,818   8.39%      240.726
3     4                    Gujarat  1,502,899          -   7.96%      228.290
4     5                  Karnataka  1,493,127  1,631,977   7.91%      226.806
5     6                West Bengal  1,089,898  1,253,832   5.77%      165.556
6     7                  Rajasthan    942,586  1,020,989   4.99%      143.179
7     8             Andhra Pradesh    862,957    972,782   4.57%      131.083
8     9                  Telangana    861,031    969,604   4.56%      130.791
9    10             Madhya Pradesh    809,592    906,672   4.29%      122.977
10   11                     Kerala    781,653          -   4.14%      118.733
11   12                      Delhi    774,870    856,112   4.10%      117.703
12   13                    Haryana    734,163    831,610   3.89%      111.519
13   14                      Bihar    530,363    611,804   2.81%       80.562
14   15                     Punjab    526,376    574,760   2.79%       79.957
15   16                     Odisha    487,805    521,275   2.58%       74.098
16   17                      Assam    315,881          -   1.67%       47.982
17   18               Chhattisgarh    304,063    329,180   1.61%       46.187
18   19                  Jharkhand    297,204    328,598   1.57%       45.145
19   20                Uttarakhand    245,895          -   1.30%       37.351
20   21            Jammu & Kashmir    155,956          -   0.83%       23.690
21   22           Himachal Pradesh    153,845    165,472   0.81%       23.369
22   23                        Goa     73,170     80,449   0.39%       11.115
23   24                    Tripura     49,845     55,984   0.26%        7.571
24   25                 Chandigarh     42,114          -   0.22%        6.397
25   26                 Puducherry     34,433     38,253   0.18%        5.230
26   27                  Meghalaya     33,481     36,572   0.18%        5.086
27   28                     Sikkim     28,723     32,496   0.15%        4.363
28   29                    Manipur     27,870     31,790   0.15%        4.233
29   30                   Nagaland     27,283          -   0.14%        4.144
30   31          Arunachal Pradesh     24,603          -   0.13%        3.737
31   32                    Mizoram     22,287     26,503   0.12%        3.385
32   33  Andaman & Nicobar Islands          -          -       -            -

5th Question.

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [95]:
#specify search url

In [96]:
driver.get("https://github.com/")

In [97]:
#From the home page we have to click on the trending option from Explore menu.

In [98]:
#First we will select Explore menu.

In [99]:
se=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]")
se.click()

In [100]:
#Now we will select Trending option.

In [101]:
trending=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]")
trending.click()

In [103]:
#Now we will get urls with attribute href for the trending repositires to scrap the required data.

In [104]:
urls=[]
for j in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    urls.append(j.get_attribute('href'))

In [105]:
len(urls)

25

In [106]:
#now with the help of urls we will scrap the required data.

In [107]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [108]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        title=driver.find_element_by_xpath("//h1[@class=' d-flex flex-wrap flex-items-center break-word f3 text-normal']/strong/a")
        Repository_title.append(title.text)
    except NoSuchElementException:
        Repository_title.append("-")
    try:
        description=driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        Repository_description.append(description.text)
    except NoSuchElementException:
        Repository_description.append("-")      
        
    try:
        count=driver.find_element_by_xpath("(//h2[@class='h4 mb-3']/a/span)[3]")
        Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append("-")
    try:
        language=driver.find_element_by_xpath("//span[@class='color-text-primary text-bold mr-1']")
        Language_used.append(language.text)
    except NoSuchElementException:
        Language_used.append("-")

In [109]:
print(len(Language_used),len(Contributors_count),len(Repository_description),len(Repository_title))

25 25 25 25

In [110]:
#Now we will create a dataframe for the scrapped data.

In [111]:
Github=pd.DataFrame({})
Github['Repository_title']=Repository_title
Github['Repository_description']=Repository_description
Github['Contributors_count']=Contributors_count
Github['Language_used']=Language_used
Github

,Repository_title,Repository_description,Contributors_count,Language_used
0,nushell,A new type of shell,232,Rust
1,thanos,Highly available Prometheus setup with long te...,8,Go
2,keras,Deep Learning for humans,882,Python
3,next.js,The React Framework,322k,JavaScript
4,chromium,The official GitHub mirror of the Chromium source,-,-
5,fully-homomorphic-encryption,Libraries and tools to perform fully homomorph...,-,C++
6,The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,-,Jupyter Notebook
7,books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,-,-
8,MalwareSourceCode,Collection of malware source code for a variet...,-,Assembly
9,monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,-,C
10,javascript-questions,A long list of (advanced) JavaScript questions...,-,-
11,modern-unix,A collection of modern/faster/saner alternativ...,-,-
12,30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,-,JavaScript
13,Microsoft-Activation-Scripts,A collection of scripts for activating Microso...,-,Batchfile
14,the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",-,-
15,SimSwap,The official project of SimSwap (ACM MM 2020),-,Python
16,zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,-,Python
17,jina,Cloud-Native Neural Search Framework for Any K...,97,Python
18,turbo-rails,Use Turbo in your Ruby on Rails app,-,JavaScript
19,seata,"Seata is an easy-to-use, high-performance, ope...",161,Java
20,allennlp,"An open-source NLP research library, built on ...",238,Python
21,NvChad,beautiful neovim setup configured in lua,-,Lua
22,AspNetCore.Docs,Documentation for ASP.NET Core,"1,421",C#
23,pytorch-tutorial,PyTorch Tutorial for Deep Learning Researchers,-,Python
24,Smart-Inspector,Keeps your screen real-estate clean with refin...,-,C#

6th Question.

Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [113]:
#Specify serach url

In [114]:
driver.get("https://www.billboard.com/")

In [115]:
#Now From the home page we have to click on the charts option then hot 100-page link.

In [116]:
#first we will click on charts option.

In [117]:
charts=driver.find_element_by_xpath("(//div[@class='header__main-menu__wrapper flex--grow']/ul/li[1]/a)[2]")
charts.click()

In [118]:
#Now we will select hot 100 page link.

In [119]:
driver.find_element_by_xpath("//div[@class='charts-landing__info--top charts-landing__info--top--hot-100']").click()

In [120]:
#Now we will scrap the required data.

In [121]:
#song name

In [122]:
song=driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
song_name=[]
for i in song:
    song_name.append(i.text)

In [123]:
#Artist name

In [124]:
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
artist_name=[]
for i in artist:
    artist_name.append(i.text)

In [125]:
#Last week rank

In [126]:
last_week=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
last_week_rank=[]
for i in last_week:
    last_week_rank.append(i.text)

In [127]:
#Peak rank

In [128]:
peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
peak_rank=[]
for i in peak:
    peak_rank.append(i.text)

In [129]:
#Weeks on board

In [130]:
board=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
weeks_on_board=[]
for i in board:
    weeks_on_board.append(i.text)

In [131]:
#Now we will creat datframe for the scrapped data

In [132]:
BillBorad=pd.DataFrame({})
BillBorad['Song_name']=song_name
BillBorad['Artist_name']=artist_name
BillBorad['Last_week_rank']=last_week_rank
BillBorad['Peak_rank']=peak_rank
BillBorad['Weeks_on_board']=weeks_on_board
BillBorad

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

7th Question.

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [133]:
#specify search url

In [141]:
driver.get("https://www.naukri.com/")

In [142]:
#Now From  homepage click on the recruiters option and  on the search pane type Data science and click on search.

In [143]:
cli=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a/div")
cli.click()

#After we click we can see that the new window (child window) opened for recruiters page.
#Let us  grab the current window handle id with the help of current_window_handle method.
#Then switch to that window with switch_to_window() method.

In [146]:
#get current window handle
p = driver.current_window_handle
#get first child window
chwnd = driver.window_handles
for w in chwnd:
   #switch focus to child window
   if(w!=p):
        driver.switch_to.window(w)
        break
time.sleep(2)

In [137]:
#Now enter Data Sceience on serach field with send_keys option.

In [147]:
se=driver.find_element_by_xpath("//input[@class='sugInp']")
se.send_keys("Data science")

In [148]:
#click on search button

In [150]:
bt=driver.find_element_by_id("qsbFormBtn")
bt.click()

In [151]:
#Now we will scrap the required data.

Name

In [167]:
name=driver.find_elements_by_xpath("//p[@class='highlightable']/a/span")
Name=[]
for i in name:
    Name.append(i.text)
Name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Priya Khare',
 'Dhruv Dev Dubey',
 'Jayanth N',
 'Radha Manivasagam',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'Shailja Mishra',
 'Sunny Sharma',
 'Sagar Lama']

Designation

In [168]:
desg=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
Designation=[]
for i in desg:
    Designation.append(i.text)
Designation

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'Senior Executive Talent Acquisition',
 'HR Team Lead',
 'HR Manager',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'Company Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Senior Manager',
 'Company Recruitment Head',
 'Project Manager',
 'HR Executive',
 'Head',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect',
 'Managing Partner',
 'HR Manager',
 'Managing Director - HR',
 'Company HR Manager']

Company

In [169]:
comp=driver.find_elements_by_xpath("//a[@class='ellipsis'][2]")
Company=[]
for i in comp:
    Company.append(i.text)
Company

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'Bristlecone India Ltd',
 'SocialPrachar.com',
 'BISP Solutions',
 'Easi Tax',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'Autumn Leaf Consulting Services Private...',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'Independent Consultant',
 'Confidential',
 'Dollarbird Information Services Pvt, Ltd',
 'Techcovery',
 'Trisect',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited',
 'Granular.ai',
 'Certybox Pvt.Ltd.',
 'Western Service Providers',
 'AdView']

Skills they hire for

In [170]:
skill=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
Skills_required=[]
for i in skill:
    Skills_required.append(i.text)
Skills_required

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Python, Artificial Intelligence, Machine Learning, Data Science',
 'Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing',
 'consulting, Education Counseling, Educational Sales, Institutional Sales, pmp, Data Science, Business Development, Revenue Generation, Sales Achievement, new',
 'Software Professionals, Engineering, Technical Management, Financial Management, Human Resource Management, Banking, Google Adwords, Business Analysis, It',
 'Full Stack Developers, Product Manager, Data Science Engineer, Publishers Sales Manager']

Location

In [171]:
place=driver.find_elements_by_xpath("//small[@class='ellipsis']")
Location=[]
for i in place:
    Location.append(i.text)
Location

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Pune',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Bengaluru / Bangalore',
 'Noida',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Noida',
 'Mumbai',
 'Bengaluru / Bangalore']

8th Question.

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-
compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [175]:
#Install driver

In [176]:
driver=webdriver.Firefox('E:\geckodriver-v0.29.1-win64')

In [177]:
#Specify search url

In [178]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [179]:
#Now we have to scrap data of highest selling Novels. On the website we can see that the data is tabular form.
#with the help of beautifulsoup we will extract the whole table.

In [180]:
soup = BeautifulSoup(driver.page_source, 'html')
tables = soup.find_all('table')

In [181]:
#Now we will load the extracted data by using pandas.read_html(because it is is html format)

In [182]:
df = pd.read_html(str(tables))

In [186]:
df=df[0] #Here is the required data

In [187]:
df=df[0:100]

In [188]:
df

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert",807311,Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General

In [189]:
#now we will change the column names as per the required names.

In [190]:
df.columns

Index(['Rank', 'Title', 'Author', 'Volume Sales', 'Publisher', 'Genre'], dtype='object')

In [193]:
df.rename(columns = {'Title':'Book_Name'}, inplace = True)
df.rename(columns = {'Author':'Author_Name'}, inplace = True)
df.rename(columns = {'Volume Sales':'Volumes_sold'}, inplace = True)

C:\Users\Naniii\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [194]:
df.head()

,Rank,Book_Name,Author_Name,Volumes_sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas

In [195]:
df.shape

(100, 6)

9th Question.

Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [196]:
#specify search url

In [197]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [198]:
#scrap the required data.

Name of the series.

In [199]:
mov=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
Name=[]
for i in mov:
    Name.append(i.text)

Year Span

In [200]:
year=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
Year_span=[]
for i in year:
    Year_span.append(i.text)

Genere

In [201]:
genere=driver.find_elements_by_xpath("//span[@class='genre']")
Genere=[]
for i in genere:
    Genere.append(i.text)

Run Time

In [202]:
time=driver.find_elements_by_xpath("//span[@class='runtime']")
Run_Time=[]
for i in time:
    Run_Time.append(i.text)

Ratings

In [203]:
rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
Rating=[]
for i in rating:
    Rating.append(i.text)

Votes

In [204]:
vot=driver.find_elements_by_name("nv")
Votes=[]
for i in vot:
    Votes.append(i.text)

In [205]:
imdb=pd.DataFrame({})
imdb['Name']=Name
imdb['Year_span']=Year_span
imdb['Genere']=Genere
imdb['Run_Time']=Run_Time
imdb['Rating']=Rating
imdb['Votes']=Votes
imdb

,Name,Year_span,Genere,Run_Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,824,188"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"864,449"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,790"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,785"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,155"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,588"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,093"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,874"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,904"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,553"

10th Question

Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [207]:
#specify search URL

In [208]:
driver.get("https://archive.ics.uci.edu/")

In [209]:
#from the home page we have to select the Show All Dataset page.

In [210]:
ber=driver.find_element_by_xpath("//span[@class='normal']/b/a")
ber.click()

In [211]:
#Lets the extract the required data

DataSet_Name

In [212]:
Name=driver.find_elements_by_xpath("//p[@class='normal']/b/a")
DataSet_Name=[]
for i in Name:
    DataSet_Name.append(i.text)

Year

In [213]:
year=driver.find_elements_by_xpath("//td[7]/p[@class='normal']")
Year=[]
for i in year:
    Year.append(i.text)

For the remaining data we will use exception.

In [218]:
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]

In [219]:
#first we will get the urls of each data set.

In [220]:
ur=driver.find_elements_by_xpath("//p[@class='normal']/b/a")
url=[]
for i in ur:
    url.append(i.get_attribute('href'))

In [223]:
len(url)

588

In [224]:
#Now we will handle the remaining data with exception.

In [226]:
for i in url:
    driver.get(i)
    
    try:
        noof=driver.find_element_by_xpath("//tr[1]/td[2]/p[@class='normal']")
        Data_type.append(noof.text)
    except NoSuchElementException:
        Data_type.append("-")
    try:
        ret=driver.find_element_by_xpath("//tr[1]/td[4]/p[@class='normal']")
        No_of_instances.append(ret.text)
    except NoSuchElementException:
        No_of_instances.append("-")      
        
    try:
        oof=driver.find_element_by_xpath("//tr[3]/td[2]/p[@class='normal']")
        Task.append(oof.text)
    except NoSuchElementException:
        Task.append("-")
    try:
        et=driver.find_element_by_xpath("//tr[2]/td[2]/p[@class='normal']")
        Attribute_type.append(et.text)
    except NoSuchElementException:
        Attribute_type.append("-") 
        
    try:
        vt=driver.find_element_by_xpath("//tr[2]/td[4]/p[@class='normal']")
        No_of_attribute.append(vt.text)
    except NoSuchElementException:
        No_of_attribute.append("-")

In [232]:
#Now let's create data frame for all scrapped data.

In [233]:
UCI=pd.DataFrame({})
UCI['DataSet_Name']=DataSet_Name
UCI['Data_type']=Data_type
UCI['Task']=Task
UCI['Attribute_type']=Attribute_type
UCI['No_of_instances']=No_of_instances
UCI['No_of_attribute']=No_of_attribute
UCI['Year']=Year
UCI

,DataSet_Name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,N/A,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,N/A,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

THE END OF THE ASSIGNMENT.